################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RpgSolution/.vs/RpgSolution/v16/Server/sqlite3/db.lock
